<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crear servicio</title>
  </head>
  <body>
    <h1>Crear servicio</h1>
    <form
      th:object="${servicio}"
      th:action="@{/servicios/guardarServicio}"
      method="post"
    >
      <input type="hidden" th:field="*{id}" />
      <label>Nombre del servicio</label>
      <input
        type="text"
        th:field="*{nombre}"
        required
        minlength="1"
        maxlength="50"
      />
      <br />
      <label>Descripción</label>
      <input
        type="text"
        th:field="*{descripcion}"
        required
        minlength="1"
        maxlength="200"
      />
      <br />
      <label>Precio</label>
      <input type="number" th:field="*{precio}" required min="1" />
      <br />
      <a th:href="@{servicios/guardarServicio}">
        <button type="submit">Crear servicio</button>
      </a>
    </form>
  </body>
</html>
