<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listar reservas</title>
  </head>
  <body>
    <h1>Listar reservas</h1>
    <table border="1">
      <thead>
        <tr>
          <th>Fecha reserva</th>
          <th>Hora inicio</th>
          <th>Hora fin</th>
          <th>Estado reserva</th>
          <th>Fecha solicitud</th>
          <th>Observaciones</th>
          <th>Precio total</th>
          <!--Datos cliente-->
          <th>Nombre persona reserva</th>
          <th>Correo persona reserva</th>
          <!--servicio de la reserva-->
          <th>Servicios de la reseva</th>
          <th>Modificar reserva</th>
          <th>Cambiar estado reserva</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="reserva: ${reservas}">
          <td th:text="${reserva.fecha}"></td>
          <td th:text="${reserva.horaInicio}"></td>
          <td th:text="${reserva.horaFin}"></td>
          <td th:text="${reserva.estado}"></td>
          <td th:text="${reserva.fechaSolicitud}"></td>
          <td th:text="${reserva.observaciones}"></td>
          <td th:text="${reserva.total}"></td>
          <td th:text="${reserva.usuario.nombre}"></td>
          <td th:text="${reserva.usuario.email}"></td>
          <!--RECORRER LOS SERVICIOS DE LA RESERVA-->
          <td>
            <span th:each="servicio: ${reserva.servicio}">
              <span th:text="${servicio.nombre}"></span>
              <br />
            </span>
          </td>
          <td>
            <a th:href="@{/reserva/modificarReserva/{id}(id =${reserva.id})}">
              <button type="button">Modificar reserva</button>
            </a>
          </td>
          <td>
            <a th:href="@{/reserva/cambiarEstado/{id}(id =${reserva.id})}">
              <button type="button">Modificar Estado reserva</button>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <a th:href="@{/reserva/crearReserva}">
      <button type="button">Crear reserva</button>
    </a>
  </body>
</html>
